@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  background: linear-gradient (to right, #8e2de2, #4a00e0);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
}

.all-notes {
  margin-left: 2rem;
}

.main-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  font-size: 2em;
}
